<body>
<h1>Not really Cocktails 🍸</h1>

<div class="container">
  <h4><%= link_to 'Add a new cocktail', new_cocktail_path %></h4>
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>

          <div class="card bg-dark text-white">
            <img class="card-img" src="<%= cocktail.remote_photo_url %>" alt="Card image">
            <div class="card-img-overlay">
              <h5 class="card-title"><%=cocktail.name%></h5>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
</body>
